* {
  margin: 0;
  padding: 0;
  user-select: none;
}
html {
  height: 100%;
}
#root {
  height: 100%;
}
#box-main-playment {
  width: auto;
  height: 100%;
  border: 2px solid rgb(239, 239, 239);
}
#box-playment {
  display: grid;
  height: 100%;
  grid-template-columns: 60% 40%;
  /* border: 2px solid black; */
}
#box-left {
  /* margin: 2rem; */
  /* overflow: scroll; */
}
#box-right {
  background-color: rgb(247, 247, 247);
  height: 100%;
}
#bnt-back {
  /* border: 2px solid black; */
  display: flex;
  justify-content: start;
  font-family: "Red Hat Display";
  color: rgb(185, 185, 185);
  margin: 20px 0px 20px 35px;
}
#bnt-back:hover {
  cursor: pointer;
  /* border: 2px solid black; */
  display: flex;
}
#box-btn-back {
  display: flex;
  /* border: 2px solid; */
  align-items: center;
}
#box-btn-back div {
  display: flex;
  /* border: 2px solid; */
  align-items: center;
}
p #item-overview {
  margin: 0px 0px 0px 35px;
  font-size: xx-large;
  color: black;
  font-family: "Red Hat Display";
  /* font-style:; */
}
#item-window {
  /* border: 2px solid; */
  margin-left: 20px;
}
.box-win-item {
  border: 1px solid rgb(219, 219, 219);
  border-radius: 1.5rem;
  width: 90%;
  height: 23vh;
  display: grid;
  grid-template-columns: 30% 60%;
  align-items: center;
  margin: 15px;
}
#box-win-item-left {
  /* margin: 30px; */
  width: 100%;
  height: 100%;
  display: flex;
  /* justify-content: center; */
  align-items: center;

  /* border: 2px solid; */
}
.box-img {
  height: 8rem;
  width: 100%;
  border-radius: 1.5rem;
  background-color: blueviolet;
  margin-left: 1.5rem;
}
#box-win-item-right {
  width: 100%;
  height: 70%;
  /* border: 2px solid; */
  display: grid;
  grid-template-columns: 50% 50%;
  margin-left: 1.5rem;
}
#box-name p {
  font-size:x-large;
  color: black;
  font-family: "Red Hat Display";
}
#box-summary{
  display: grid;
  grid-template-columns: 50% 50%;
}
#box-total{
  display: grid;
  grid-template-columns: 50% 50%;

}




#box-option {
  display: flex;
  justify-content: end;
  font-family: "Red Hat Display";
  color: rgb(137, 137, 137);


}
#box-detail{
  font-family: "Red Hat Display";
  color: rgb(137, 137, 137);

}
#box-price{
  display: flex;
  justify-content: end;
  align-self: self-end;
}
.material-symbols-outlined {
  font-variation-settings: "FILL" 1, "wght" 700, "GRAD" 200, "opsz" 10;
}
.material-symbols-outlined :hover {
  font-variation-settings: "FILL" 0, "wght" 700, "GRAD" 200, "opsz" 10;
}
#playment-details {
  font-family: "Red Hat Display";
  font-size: xx-large;
  margin: 1.5rem 0px 0px 0px;
}
#box-con-right {
  font-family: "Red Hat Display";
  /* font-size: x-large; */
  margin: 0px 0px 0px 4rem;
  width: 75%;
  /* border: 2px solid black; */
}
#box-con-right #fill {
  margin-bottom: 1.5rem;
}
#bnt-pay {
  border-radius: 2rem;
  border: 2px solid;
  display: flex;
  justify-content: center;
  align-self: center;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 100%;
  height: 3rem;
}
#fram-expiraton{
  width: 100%;
  /* border: 2px solid; */
  display: grid;
  grid-template-columns: 50% 50%;
}
.input{
  border-radius: 2rem;
  border-color: rgb(203, 203, 203);
  height: 2.5rem;
  width: 95%;
  margin-bottom: 1rem;
  padding-left: 1rem;
  outline-width: 0;
  /* width: 10rem; */
  
}
#fram-expiraton-right{
  width: 100%;
  /* border: 2px solid black; */
  display: flex;
  align-items: end;
  align-content: end;
  justify-content: end;
}
#fram-expiraton-right-sub{
  /* border: 2px solid; */
  width: 100%;
}
#fram-expiraton-right-sub h5 {
  /* border: 2px solid; */
  padding-left: 1.5rem;
  /* margin-left: 1rem; */
}
#box-input-cvv{
  display: flex;
  justify-content: end;
}
#input-Expiration-data{
  width: 80%;
}
#input-cvv{
  width: 80%;
}
h5 {
  margin-bottom: .5rem;
}
#box-total{
  border-top: 1px solid;
}

#box-summary-right {
  display: flex;
  justify-content: end;
  /* border: 2px solid; */
  /* margin-right: 1rem; */
}
form #choose {
  display: flex;
  justify-content: end;
}
#box-total{
  padding-top: .5rem;
}
#box-total-right{
  display: flex;
  justify-content: end;
}